<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <title>UNCERTAINTY</title>
    <link rel="icon" type="image/png" href="images/favicon-32x32.png">
</head>
<body>
    <nav class="nav">
        <div class="container">
            <div class="nav__row">
                <a href="/main" class="nav__logo">
                    UNCERTAINTY
                </a>
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="/newclo" class="nav__link">Новинки</a>
                        </li>
                            <li class="nav__item">
                                <a href="/allclo" class="nav__link">Одежда</a>
                            </li>
                        <li class="nav__item">
                            <a href="/saleclo" class="nav__link">Распродажа</a>
                        </li>
                        <li class="nav__item">
                            <a href="/aboutus" class="nav__link">О нас</a>
                        </li>
                        <li class="nav__item">
                            <a href="/contact" class="nav__link">Контакты</a>
                        </li>                                     
                    </ul>
                    
                    <ul class="nav__icon">
                            <div class="nav__user">
                                <a href="/login">
                                    <img src="images/icons/Пользователь.svg" alt="User">
                                </a>
                            </div>
                        <div class="nav__cart">
                            <a href="/cart">
                                <img src="images/icons/Корзина.svg" alt="Cart">
                            </a>
                        </div>
                    </ul>
            </div>
        </div>
                <div class="csize">
            <span>0</span>
        </div>
        <div class="search-bar">
            <form action="" class="search">
            <input type="text" placeholder="Поиск...">
            <button type="submit"><img src="images/icons/Поиск.svg" alt="Search"></button>
        </form>
        </div>
        <hr class="line">
    </nav>

<form class="about_text">
    <div class="aboutus_text">О нас</div>
    <div class="aboutus_text_2">О проекте Uncertainty</div>
    <div class="aboutus_text_3">Интернет-магазин Uncertainty  работает с 2022 года.</div>
    <div class="aboutus_text_4">Uncertainty — это отечественный street wear-магазин основанный в Крыму в 2022 году и представляющий собственный бренд Uncertainty. В магазине собрана коллекция из разной одежды: футболки, джинсы, худи, свитшоты — она постоянно обновляется.
        </div>
    <div class="aboutus_text_5">Настоящая уличная одежда далека от массовой моды, она является мерчем уличного сообщества, впитывает дух и энергетику людей. Продукт бренда Uncertainty постоянно тестируется и совершенствуется благодаря тесному контакту с целевой аудиторией.
        </div>
            <div class="aboutus_text_6">Мы  не намерены продавать людям стереотипы и заезженные тренды, а напротив, готовы создавать одежду для парней и девушек, которые не стесняются выражать себя через нестандартные образы. Умение придавать свежий образ привычным элементам одежды — отличительный талант дизайнеров бренда.
        </div>
    <div class="aboutus_text_7">Наши реквизиты</div>
    <pre class="aboutus_text_8">Шевченко Даниил Петрович (ИП)

Расчетный счет N 00000000000000000000
В ОАО РНКБ г. Симферополь
К/сч. 00000000000000000000 БИК 000000000
ИНН 000000000000
ОГРНИП 000000000000000

Телефон магазина:
+7 (978) 000-0000 с 10 до 18 по рабочим дням

Юр. адрес: 295015, Россия, Крым Респ, Симферополь г, Учебный пер, ДОМ 8
Факт. адрес: 295015, Россия, Крым Респ, Симферополь г, Учебный пер, ДОМ 8</pre>
</form>

    <footer class="footer_about">
        <div class="container">
            <div class="row">
                <div class="Company">
                    <ul>
                        <h4>Компания</h4>
                        <li><a href="/contractoffer">Договор оферты</a></li>
                        <li><a href="/privacypolicy">Политика конфиденциальности</a></li>
                    </ul>
                </div>
                <div class="Support">
                    <ul>
                        <h4>Поддержка</h4>
                        <li><a href="/return">Возврат</a></li>
                        <li><a href="/questions">Вопросы</a></li>
                        <li><a href="/delivery">Оплата и доставка</a></li>
                    </ul>
                </div>
                <div class="Information">
                    <ul>
                        <h4>Информация</h4>
                        <li><a href="/aboutus">О нас</a></li>
                        <li><a href="/contact">Контакты</a></li>
                    </ul>
                </div>
        </div>
    </footer>
    

    <div class="Pravicy_4">2022, UNCERTAINTY</div>

    <div class="VK_4">
        <a href="https://vk.com/", target=https://vk.com/_blank><img src="images/icons/Вк.svg"></a>
    </div>

    <div class="TG_4">
        <a href="https://telegram.org/", target=https://telegram.org/_blank><img src="images/icons/Тг.svg"></a>
    </div>

 <script src="js/script.js">
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>