<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <title>UNCERTAINTY</title>
    <link rel="icon" type="image/png" href="images/favicon-32x32.png">

</head>
<body>
    <nav class="nav">
        <div class="container">
            <div class="nav__row">
                <a href="/main" class="nav__logo">
                    UNCERTAINTY
                </a>
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="/newclo" class="nav__link">Новинки</a>
                        </li>
                            <li class="nav__item">
                                <a href="/allclo" class="nav__link">Одежда</a>
                            </li>
                        <li class="nav__item">
                            <a href="/saleclo" class="nav__link">Распродажа</a>
                        </li>
                        <li class="nav__item">
                            <a href="/aboutus" class="nav__link">О нас</a>
                        </li>
                        <li class="nav__item">
                            <a href="/contact" class="nav__link">Контакты</a>
                        </li>                                     
                    </ul>
                    
                    <ul class="nav__icon">
                            <div class="nav__user">
                                <a href="/login">
                                    <img src="images/icons/Пользователь.svg" alt="User">
                                </a>
                            </div>
                        <div class="nav__cart">
                            <a href="/cart">
                                <img src="images/icons/Корзина.svg" alt="Cart">
                            </a>
                        </div>
                    </ul>
            </div>
        </div>
                <div class="csize">
            <span>0</span>
        </div>
        <div class="search-bar">
            <form action="" class="search">
            <input type="text" placeholder="Поиск...">
            <button type="submit"><img src="images/icons/Поиск.svg" alt="Search"></button>
        </form>
        </div>
        <hr class="line">
    </nav>

    <form class="New_Group" action="/newclo">
        <div class="new">
            Новинки
        </div>
        <div class="New_Cloth">
                <div class="New_Cloth_1"><a href="/sproduct">
                <div class="image_1"><img src="images/clothes/1.jpg"></div>
                <div class="text_1">Altered jeans</div>
                <div class="text_1_1">10 000 р.</div>
            </div>
            </a>
            <div class="New_Cloth_2"><a href="/sproduct_2">
                <div class="image_2"><img src="images/clothes/2.jpg"></div>
                <div class="text_2">Crumpled jeans</div>
                <div class="text_2_1">10 000 р.</div>
            </div></a>
            <div class="New_Cloth_3">
            <a href="/sproduct_3"><div class="image_3"><img src="images/clothes/3.jpg"></div>
                <div class="text_3">Handlethetruth sweater</div>
                <div class="text_3_1">7 000 р.</div>
            </div></a>
        </div>
        <input type="submit" class="Button_Frame_3" value="Смотреть больше">
    </form>

        {{!-- <div class="line_2">
            <div class="line_2_1"><img src="images/run.jpg"></div>
        </div> --}}

                <div class="line_2">  
            <div class="line_2_1"><p>UNCERTAINTY</p><p>UNCERTAINTY</p><p>UNCERTAINTY</p><p>UNCERTAINTY</p><p>UNCERTAINTY</p><p>UNCERTAINTY</p><p>UNCERTAINTY</p><p>UNCERTAINTY</p><p>UNCERTAINTY</p><p>UNCERTAINTY</p><p>UNCERTAINTY</p><p>UNCERTAINTY</p><p>UNCERTAINTY</p><p>UNCERTAINTY</p><p>UNCERTAINTY</p><p>UNCERTAINTY</p><p>UNCERTAINTY</p><p>UNCERTAINTY</p><p>UNCERTAINTY</p><p>UNCERTAINTY</p></div>
        </div>
      

    <form class="All_Group" action="/allclo">
        <div class="all">
            Одежда
        </div>
        <div class="All_Cloth">
            <div class="New_Cloth_1"><a href="/sproduct_7">
                <div class="image_1"><img src="images/clothes/4.jpg"></div>
                <div class="text_1">Woolen sweater</div>
                <div class="text_1_1">15 000 р.</div>
            </div></a>
            <div class="New_Cloth_2"><a href="/sproduct_8">
                <div class="image_2"><img src="images/clothes/5.jpg"></div>
                <div class="text_2">Distressed patch jeans</div>
                <div class="text_2_1">12 000 р.</div>
            </div></a>
            <div class="New_Cloth_3">
            <a href="/sproduct_9"><div class="image_3"><img src="images/clothes/6.jpg"></div>
                <div class="text_3">Patterns hoodie</div>
                <div class="text_3_1">6 000 р.</div>
            </div></a>
            <div class="New_Cloth_4"><a href="/sproduct_10">
                <div class="image_4"><img src="images/clothes/10.jpg"></div>
                <div class="text_4">Amphibian sweater</div>
                <div class="text_4_1">7 000 р.</div>
            </div></a>
            <div class="New_Cloth_5"><a href="/sproduct_11">
                <div class="image_5"><img src="images/clothes/11.jpg"></div>
                <div class="text_5">Bubble hoodie</div>
                <div class="text_5_1">10 000 р.</div>
            </div></a>
            <div class="New_Cloth_6"><a href="/sproduct_12">
                <div class="image_6"><img src="images/clothes/12.jpg"></div>
                <div class="text_6">Heart bats T-shirt</div>
                <div class="text_6_1">3 000 р.</div>
            </div></a>
        </div>
        <input type="submit" class="Button_Frame_4" value="Смотреть больше">
    </form>

    <form class="Sale_Group" action="/saleclo">
        <div class="sale">
            Распродажа
        </div>
        <div class="Sale_Cloth">
            <div class="New_Cloth_1"><a href="/sproduct_4">
                <div class="image_1"><img src="images/clothes/7.jpg"></div>
                <div class="text_1">Human T-shirt</div>
                <div class="text_1_1">2 000 р.</div>
                <div class="text_1_2">3 000 р.</div>
            </div></a>
            <div class="New_Cloth_2"><a href="/sproduct_5">
                <div class="image_2"><img src="images/clothes/8.jpg"></div>
                <div class="text_2">Fangs sweater</div>
                <div class="text_2_1">4 500 р.</div>
                <div class="text_2_2">7 000 р.</div>
            </div></a>
            <div class="New_Cloth_3">
            <a href="/sproduct_6"><div class="image_3"><img src="images/clothes/9.jpg"></div>
                <div class="text_3">Boot-cut jeans</div>
                <div class="text_3_1">8 900 р.</div>
                <div class="text_3_2">11 000 р.</div>
            </div></a>
        </div>
        <input type="submit" class="Button_Frame_5" value="Смотреть больше">
    </form>

    <footer class="footer_main">
        <div class="container">
            <div class="row">
                <div class="Company">
                    <ul>
                        <h4>Компания</h4>
                        <li><a href="/contractoffer">Договор оферты</a></li>
                        <li><a href="/privacypolicy">Политика конфиденциальности</a></li>
                    </ul>
                </div>
                <div class="Support">
                    <ul>
                        <h4>Поддержка</h4>
                        <li><a href="/return">Возврат</a></li>
                        <li><a href="/questions">Вопросы</a></li>
                        <li><a href="/delivery">Оплата и доставка</a></li>
                    </ul>
                </div>
                <div class="Information">
                    <ul>
                        <h4>Информация</h4>
                        <li><a href="/aboutus">О нас</a></li>
                        <li><a href="/contact">Контакты</a></li>
                    </ul>
                </div>
        </div>
    </footer>
    
    <div class="Pravicy_2">2022, UNCERTAINTY</div>
    <div class="VK_2">
        <a href="https://vk.com/", target=https://vk.com/_blank><img src="images/icons/Вк.svg"></a>
    </div>

    <div class="TG_2">
        <a href="https://telegram.org/", target=https://telegram.org/_blank><img src="images/icons/Тг.svg"></a>
    </div>
    
<script src="js/script.js">
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
{{!-- <body1>
    <div class="marquee-w">
        <div class="marquee">
            <span>UNCERTAINTY UNCERTAINTY UNCERTAINTY UNCERTAINTY UNCERTAINTY UNCERTAINTY UNCERTAINTY UNCERTAINTY UNCERTAINTY UNCERTAINTY UNCERTAINTY UNCERTAINTY UNCERTAINTY UNCERTAINTY UNCERTAINTY UNCERTAINTY</span></div>
            <div class="marquee2">
            <span>UNCERTAINTY UNCERTAINTY UNCERTAINTY UNCERTAINTY UNCERTAINTY UNCERTAINTY UNCERTAINTY UNCERTAINTY UNCERTAINTY UNCERTAINTY UNCERTAINTY UNCERTAINTY UNCERTAINTY UNCERTAINTY UNCERTAINTY UNCERTAINTY</span></div>
</body1> --}}
</html>