<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <title>UNCERTAINTY</title>
    <link rel="icon" type="image/png" href="images/favicon-32x32.png">
</head>
<body>
    <nav class="nav">
        <div class="container">
            <div class="nav__row">
                <a href="/main" class="nav__logo">
                    UNCERTAINTY
                </a>
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="/newclo" class="nav__link">Новинки</a>
                        </li>
                            <li class="nav__item">
                                <a href="/allclo" class="nav__link">Одежда</a>
                            </li>
                        <li class="nav__item">
                            <a href="/saleclo" class="nav__link">Распродажа</a>
                        </li>
                        <li class="nav__item">
                            <a href="/aboutus" class="nav__link">О нас</a>
                        </li>
                        <li class="nav__item">
                            <a href="/contact" class="nav__link">Контакты</a>
                        </li>                                     
                    </ul>
                    
                    <ul class="nav__icon">
                            <div class="nav__user">
                                <a href="/login">
                                    <img src="images/icons/Пользователь.svg" alt="User">
                                </a>
                            </div>
                        <div class="nav__cart">
                            <a href="/cart">
                                <img src="images/icons/Корзина.svg" alt="Cart">
                            </a>
                        </div>
                    </ul>
            </div>
        </div>
                <div class="csize">
            <span>0</span>
        </div>
        <div class="search-bar">
            <form action="" class="search">
            <input type="text" placeholder="Поиск...">
            <button type="submit"><img src="images/icons/Поиск.svg" alt="Search"></button>
        </form>
        </div>
        <hr class="line">
    </nav>


<div class="pp_text">Политика конфиденциальности</div>
<div class="privacy_text"><p>1. Общие положения Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных» и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных.</p>

<p>2. Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) действует в отношении всей информации, которую Интернет-сайт Uncertainty может получить о Пользователе во время использования сайта Uncertainty.</p>

<p><a class="ttt">1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ</a></p>

<p>1.1. В настоящей Политике конфиденциальности используются следующие термины:</p>

<p>1.1.1. «Администрация сайта Uncertainty (далее — Администрация сайта)», уполномоченные сотрудники, действующие от имени ИП Шевченко Д.П., которые организуют и (или) осуществляют обработку персональных данных, а также определяют цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.</p>

<p>1.1.2. «Персональные данные» — любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).</p>

<p>1.1.3. «Обработка персональных данных» — любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.</p>

<p>1.1.4. «Конфиденциальность персональных данных» — обязательное для соблюдения Администрацией сайта требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.</p>

<p>1.1.5. «Пользователь сайта Uncertainty (далее Пользователь)» — лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее сайт Uncertainty.</p>

<p><a class="ttt">2. ОБЩИЕ ПОЛОЖЕНИЯ</a></p>

<p>2.1. Использование Пользователем сайта Uncertainty означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя.</p>

<p>2.2. В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить использование сайта Uncertainty.</p>

<p>2.3. Настоящая Политика конфиденциальности применяется только к сайту Uncertainty. Сайт Uncertainty не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на сайте Uncertainty.</p>

<p>2.4. Администрация сайта не проверяет достоверность персональных данных, предоставляемых Пользователем сайта Uncertainty.</p>

<p><a class="ttt">3. ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ</a></p>

<p>3.1. Настоящая Политика конфиденциальности устанавливает обязательства Администрации сайта Uncertainty по неразглашению и обеспечению режима защиты конфиденциальности персональных данных.</p>

<p>3.2. Персональные данные, разрешенные к обработке в рамках настоящей Политики конфиденциальности, предоставляются Пользователем путем заполнения форм на сайте Uncertainty, и включают в себя следующую информацию:</p>

<p>3.2.1. имя Пользователя;</p>

<p>3.2.2. контактный телефон Пользователя;</p>

<p>3.2.3. адрес электронной почты (e-mail);</p>

<p>3.2.4. физический адрес.</p>

<p><a class="ttt">4. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ</a></p>

<p>4.1. Администрация сайта вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.</p>

<p>4.2. Новая Политика конфиденциальности вступает в силу с момента ее размещения на сайте Uncertainty, если иное не предусмотрено новой редакцией Политики конфиденциальности.</p>

<p>4.3. Действующая Политика конфиденциальности размещена на странице по адресу Uncertainty.</p></div>

    <footer class="footer_privacypolicy">
        <div class="container">
            <div class="row">
                <div class="Company">
                    <ul>
                        <h4>Компания</h4>
                        <li><a href="/contractoffer">Договор оферты</a></li>
                        <li><a href="/privacypolicy">Политика конфиденциальности</a></li>
                    </ul>
                </div>
                <div class="Support">
                    <ul>
                        <h4>Поддержка</h4>
                        <li><a href="/return">Возврат</a></li>
                        <li><a href="/questions">Вопросы</a></li>
                        <li><a href="/delivery">Оплата и доставка</a></li>
                    </ul>
                </div>
                <div class="Information">
                    <ul>
                        <h4>Информация</h4>
                        <li><a href="/aboutus">О нас</a></li>
                        <li><a href="/contact">Контакты</a></li>
                    </ul>
                </div>
        </div>
    </footer>
    

    <div class="Pravicy_8">2022, UNCERTAINTY</div>

    <div class="VK_8">
        <a href="https://vk.com/", target=https://vk.com/_blank><img src="images/icons/Вк.svg"></a>
    </div>

    <div class="TG_8">
        <a href="https://telegram.org/", target=https://telegram.org/_blank><img src="images/icons/Тг.svg"></a>
    </div>
    
<script src="js/script.js">
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>