<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <title>UNCERTAINTY</title>
    <link rel="icon" type="image/png" href="images/favicon-32x32.png">
</head>
<body>
    <nav class="nav">
        <div class="container">
            <div class="nav__row">
                <a href="/main" class="nav__logo">
                    UNCERTAINTY
                </a>
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="/newclo" class="nav__link">Новинки</a>
                        </li>
                            <li class="nav__item">
                                <a href="/allclo" class="nav__link">Одежда</a>
                            </li>
                        <li class="nav__item">
                            <a href="/saleclo" class="nav__link">Распродажа</a>
                        </li>
                        <li class="nav__item">
                            <a href="/aboutus" class="nav__link">О нас</a>
                        </li>
                        <li class="nav__item">
                            <a href="/contact" class="nav__link">Контакты</a>
                        </li>                                     
                    </ul>
                    
                    <ul class="nav__icon">
                            <div class="nav__user">
                                <a href="/login">
                                    <img src="images/icons/Пользователь.svg" alt="User">
                                </a>
                            </div>
                        <div class="nav__cart">
                            <a href="/cart">
                                <img src="images/icons/Корзина.svg" alt="Cart">
                            </a>
                        </div>
                    </ul>
            </div>
        </div>
        <div class="csize">
            <span>0</span>
        </div>
        <div class="search-bar">
            <form action="" class="search">
            <input type="text" placeholder="Поиск...">
            <button type="submit"><img src="images/icons/Поиск.svg" alt="Search"></button>
        </form>
        </div>
        <hr class="line">
    </nav>

    <section id="prodet" class="New_Cloth">
        <div class="single-pro-image">
            <img src="images/clothes/4.jpg" id="MainImg" width="654" height="654">
        </div>
    </section>
            <div class="p_name_1">Woolen sweater</div>
        <div class="p_price_1">15 000 р.</div>
        <div class="p_size_1">Размер</div>
        <select class="select_1" id="s7" onchange="sizeValue7();">
            <option value="One size">One size</option>
        </select>
        <input type="submit" class="add-cart cart7" value="Добавить в корзину" onclick="sizeValue7();">
        <div class="p_about_1">Материал: 75% акрил, 25% шерсть.</div>
        <div class="p_size_2">Размер "One Size" — это универсальный размер одежды, подходящей людям любой комплекции.</div>


    <footer class="footer_product">
        <div class="container">
            <div class="row">
                <div class="Company">
                    <ul>
                        <h4>Компания</h4>
                        <li><a href="/contractoffer">Договор оферты</a></li>
                        <li><a href="/privacypolicy">Политика конфиденциальности</a></li>
                    </ul>
                </div>
                <div class="Support">
                    <ul>
                        <h4>Поддержка</h4>
                        <li><a href="/return">Возврат</a></li>
                        <li><a href="/questions">Вопросы</a></li>
                        <li><a href="/delivery">Оплата и доставка</a></li>
                    </ul>
                </div>
                <div class="Information">
                    <ul>
                        <h4>Информация</h4>
                        <li><a href="/aboutus">О нас</a></li>
                        <li><a href="/contact">Контакты</a></li>
                    </ul>
                </div>
        </div>
    </footer>
    

    <div class="Pravicy_10">2022, UNCERTAINTY</div>

    <div class="VK_10">
        <a href="https://vk.com/", target=https://vk.com/_blank><img src="images/icons/Вк.svg"></a>
    </div>

    <div class="TG_10">
        <a href="https://telegram.org/", target=https://telegram.org/_blank><img src="images/icons/Тг.svg"></a>
    </div>
    
<script src="js/script_7.js">
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>