*, *::before, *::after {
    box-sizing: border-box;
}

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat', sans-serif;
*/



body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nav {
    padding: 57px 0;
}

.nav .container {
position: absolute;
width: 1360px;
height: 44px;
left: 280px;
top: 57px;
    
}
.nav__row {
    display: flex;
    justify-content: space-between;
    
}
.nav__logo, a.nav__logo {
    text-decoration: none; 
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    width: 263px;
    height: 43px;
    color: #000000;
}

a.nav__logo:hover{
    text-decoration: none;
}

.nav__list {
    position: absolute;
    
    height: 24px;
    left: 298px;
    top: 10px;    
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav__item {
    margin-right: 35px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.nav__item:last-child() {
    margin-right: 0;
}

.nav__link {
    text-decoration: none;
    color: #A8A8A8;
}

.nav__link:hover {
    text-decoration: none;
    color: #000000;
}

.nav__search{
    margin-right: 20px;
position: absolute;
width: 23px;
height: 23px;
left: 1257px;
top: 11px;
}

.nav__user{
    margin-right: 20px;
    position: absolute;
    width: 18px;
    height: 21px;
    left: 1300px;
    top: 11px;
}

.nav__cart{
    margin-right: 0px;
    position: absolute;
width: 22px;
height: 23px;
left: 1338px;
top: 10px;
}



.authorization {
    position: absolute;
    width: 213px;
    height: 37px;
    left: 853px;
    top: 329px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    
    
    color: #000000;
}

.Email_Frame input {
    box-sizing: border-box;

position: absolute;
width: 520px;
height: 46px;
left: 700px;
top: 407px;

border: 1px solid #A8A8A8;
border-radius: 2px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 18px;

color: #000000;
}

.Email_Frame label {
    position: absolute;
    width: 59px;
    height: 24px;
    left: 698px;
    top: 378px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    
    color: #000000;

    cursor: text;
}

.Password_Frame input {
    box-sizing: border-box;

position: absolute;
width: 520px;
height: 46px;
left: 700px;
top: 502px;

border: 1px solid #A8A8A8;
border-radius: 2px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 18px;

color: #000000;
}

input:focus {
    border: 1px solid #000000;
}

.Password_Frame label {
    position: absolute;
    width: 80px;
    height: 24px;
    left: 698px;
    top: 473px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    
    color: #000000;

    cursor: text;
}


.Check {
position: absolute;
width: 164px;
height: 19px;
left: 696px;
top: 560px;
cursor: default;
}

.Check input[type="checkbox"]  {
    appearance: none;
    background-color: transparent;
    -webkit-appearance: none;
    width: 13px;
    height: 13px;
    left: 700px;
    top: 563px;
    
    border: 1px solid #A8A8A8;
}

.Check input[type="checkbox"]:hover {
    border: 1px solid #000000;

    cursor: pointer;
}

.Check input[type="checkbox"]:checked {
    background-color: #000000;
    border: none;
}

.Show {
    position: absolute;
    width: 136px;
    height: 19px;
    left: 728px;
    top: 561px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    text-align: center;
    
    color: #000000;

cursor: text;
}

.Button_Frame {
    display: inline-block;

    position: absolute;
    width: 170px;
height: 46px;
left: 875px;
top: 600px;

background: none;

border: 1px solid #A8A8A8;
border-radius: 2px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
text-align: center;

color: #A8A8A8;
}

.Button_Frame:hover {
    border: 1px solid #000000;
    color: #000000;
    cursor: pointer;
}

.SignupLink, a.SignupLink {
    text-decoration: none;
    position: absolute;
    width: 167px;
    height: 19px;
    left: 876px;
    top: 661px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    
    text-align: center;
    
    color: #A8A8A8;
}

a.SignupLink:hover {

    text-decoration: underline;
    color: #000000;
}

.line{
    width: 100%;
    height: 1px;
    border: 0 none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 101px;
    margin-bottom: 0px;
    background-color: #000000;
}

.search{
    position: absolute;
    left: 1278px;
    top: 67px;
}

.search input {
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid #A8A8A8;
    width: 250px;
    

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    
    color: #000000;
}

.search button {
    background: transparent;
    border: none;
}

.search button:hover {
    cursor: pointer;
}

.search input::placeholder {
    color:#000000;
}

.search input:focus {
    border-bottom: 1px solid #000000
}

.text{
    position: absolute;
    left: 894px;
    top: 1185px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    
    color: #FFFFFF;
}

.VK{
    position: relative;
width: 40px;
height: 40px;
left: 430px;
top: 799px;
text-align: center;
line-height: 55px;

background-color: #A8A8A8;
border-radius: 50%;
color: #FFFFFF;
}

.VK:hover{
    background-color: #FFFFFF;
    cursor: pointer;
}

.TG{
    position: relative;
width: 40px;
height: 40px;
left: 483px;
top: 759px;
text-align: center;
line-height: 54px;

background-color: #A8A8A8;
border-radius: 50%;
color: #FFFFFF;
}

.TG:hover{
    background-color: #FFFFFF;
    cursor: pointer;
}

.footer .container{
    position: absolute;
    width: 1059px;
    height: 124px;
    left: 430px;
    top: 31px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer{
    position: absolute;
    width: 100%;
    height: 235px;
    left: 0px;
    top: 980px;
    background-color: #000000;
}

.Company{
    position: relative;
    bottom: 27px;
    left: 154px;
}



.Company h4{
    font-family: 'Montserrat';
    
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
position: relative;

color: #FFFFFF;
margin-bottom: 12px;
}

.Company ul li:not(:last-child){
    margin-bottom: 8px;
}

.Company ul li a{
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #A8A8A8;
}

.Company ul li a:hover{
    color: #FFFFFF;
}

.Support{
    position: relative;
    bottom: 27px;
    left: 212px;
}


.Support h4{
    font-family: 'Montserrat';
    
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
position: relative;

color: #FFFFFF;
margin-bottom: 12px;
}

.Support ul li:not(:last-child){
    margin-bottom: 8px;
}

.Support ul li a{
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #A8A8A8;
}

.Support ul li a:hover{
    color: #FFFFFF;
}

.Information{
    position: relative;
    bottom: 27px;
    left: 270px;
}


.Information h4{
    font-family: 'Montserrat';
    
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
position: relative;

color: #FFFFFF;
margin-bottom: 12px;
}

.Information ul li:not(:last-child){
    margin-bottom: 8px;
}

.Information ul li a{
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #A8A8A8;
}

.Information ul li a:hover{
    color: #FFFFFF;
}

.registration {
    position: absolute;
width: 209px;
height: 37px;
left: 855px;
top: 329px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 37px;

color: #000000;
}

.Name_Frame input {
    box-sizing: border-box;

position: absolute;
width: 520px;
height: 46px;
left: 700px;
top: 407px;

border: 1px solid #A8A8A8;
border-radius: 2px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 18px;

color: #000000;
}

.Name_Frame label {
    position: absolute;
    width: 59px;
    height: 24px;
    left: 698px;
    top: 378px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    
    color: #000000;

    cursor: text;
}

.Email_Frame_2 input {
    box-sizing: border-box;

position: absolute;
width: 520px;
height: 46px;
left: 700px;
top: 502px;

border: 1px solid #A8A8A8;
border-radius: 2px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 18px;

color: #000000;
}

input:focus {
    border: 1px solid #000000;
}

.Email_Frame_2 label {
    position: absolute;
    width: 80px;
    height: 24px;
    left: 698px;
    top: 473px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    
    color: #000000;

    cursor: text;
}

.Password_Frame_2 input {
    box-sizing: border-box;

position: absolute;
width: 520px;
height: 46px;
left: 700px;
top: 597px;

border: 1px solid #A8A8A8;
border-radius: 2px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 18px;

color: #000000;
}

.Password_Frame_2 label {
    position: absolute;
    width: 80px;
    height: 24px;
    left: 698px;
    top: 568px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    
    color: #000000;

    cursor: text;
}

input:focus {
    border: 1px solid #000000;
}

.Button_Frame_2{
    display: inline-block;

    position: absolute;
    width: 170px;
    height: 46px;
    left: 875px;
    top: 695px;

background: none;

border: 1px solid #A8A8A8;
border-radius: 2px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
text-align: center;

color: #A8A8A8;
}

.Check_2 {
    position: absolute;
    width: 164px;
    height: 19px;
    left: 696px;
    top: 655px;
    cursor: default;
    }
    
    .Check_2 input[type="checkbox"]  {
        appearance: none;
        background-color: transparent;
        -webkit-appearance: none;
        width: 13px;
        height: 13px;
        left: 700px;
        top: 563px;
        
        border: 1px solid #A8A8A8;
    }
    
    .Check_2 input[type="checkbox"]:hover {
        border: 1px solid #000000;
    
        cursor: pointer;
    }
    
    .Check_2 input[type="checkbox"]:checked {
        background-color: #000000;
        border: none;
    }

.Show_2{
    position: absolute;
    width: 136px;
    height: 19px;
    left: 728px;
    top: 656px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    
    text-align: center;
    
    color: #000000;

cursor: text;
}

.Button_Frame_2:hover {
    border: 1px solid #000000;
    color: #000000;
    cursor: pointer;
}

.SigninLink, a.SigninLink{
    text-decoration: none;
    position: absolute;
width: 50px;
height: 17px;
left: 935px;
top: 756px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 18px;
text-align: center;

color: #A8A8A8;
}

a.SigninLink:hover {

    text-decoration: underline;
    color: #000000;
}

.new{
    position: absolute;
width: 144px;
height: 37px;
left: 888px;
top: 216px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 37px;

color: #000000;

}

.Button_Frame_3{
    display: inline-block;

    position: absolute;
    width: 170px;
    height: 46px;
    left: 875px;
    top: 726px;
    

background: none;

border: 1px solid #A8A8A8;
border-radius: 2px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
text-align: center;

color: #A8A8A8;
}

.Button_Frame_3:hover {
    border: 1px solid #000000;
    color: #000000;
    cursor: pointer;
}

.New_Cloth{
    position: absolute;
width: 1140px;
height: 403px;
left: 390px;
top: 283px;
}

.New_Cloth_1{
width: 340px;
height: 403px;
left: 0px;
top: 3px;
}

.New_Cloth_1:hover{
    cursor: pointer;
}

.New_Cloth_2{
    position: absolute;
    width: 340px;
    height: 403px;
    left: 400px;
    top: 0px;
}

.New_Cloth_2:hover{
    cursor: pointer;
}

.New_Cloth_3{
    position: absolute;
    width: 340px;
    height: 403px;
    left: 800px;
    top: 0px;
}

.New_Cloth_3:hover{
    cursor: pointer;
}

.image_1{
    position: absolute;
width: 340px;
height: 340px;
left: 0px;
top: 0px;
}

.image_2{
    position: absolute;
    width: 340px;
    height: 340px;
}

.image_3{
    position: absolute;
    width: 340px;
    height: 340px;
}

.text_1{
    position: absolute;
    width: 188px;
    height: 24px;
    left: 0px;
    top: 348px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    
    color: #000000;
}

.text_1:hover{
    color: #A8A8A8;
}

.text_1_1{
    position: absolute;
width: 92px;
height: 24px;
left: 0px;
top: 379px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #000000;
}

.text_2{
    position: absolute;
    width: 235px;
    height: 24px;
    top: 348px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.text_2:hover{
        color: #A8A8A8;
}

.text_2_1 {
    position: absolute;
width: 90px;
height: 24px;
top: 379px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
color: #000000;
}

.text_3{
    position: absolute;
    width: 313px;
    height: 24px;
    left: 0px;
    top: 348px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    
    color: #000000;
}

.text_3:hover{
    color: #A8A8A8;
}


.text_3_1{
    position: absolute;
width: 83px;
height: 24px;
left: 0px;
top: 379px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #000000;
}